#replay {
    height: 10vmin;
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: 0.3vmin solid rgba(255, 25, 255, 0.5);
    color: rgba(25, 250, 55, 1);
    background-color: rgba(155, 25, 155, 0.5);
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }
  
  #replay:hover {
    background-color: rgba(255, 25, 255, 0.5);
    color: rgba(25, 250, 55, 1);
    border: 0.3vmin solid black;
  }
  