.about {
    background-color: var(--background);
    border: .3vmin solid var(--border);
    border-radius: 3%;
    margin: 5vmin
    }
    
    .about-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--background-card);
      margin: 5vmin;
      border: .1vmin solid var(--border);
      border-radius: 3%;
    }
    
    h1 {
      text-align: center;
    }
    
    p {
      margin: 5vmin;
      background-color: var(--background-card);
      border: .1vmin solid var(--border);
      border-radius: 3%;
      font-size: 2vmin;
      padding: 5vmin;
    }
    
    table {
      margin: 5vmin;
      background-color: var(--background);
      padding: 10vmin;
      border: .1vmin solid var(--border);
      border-radius: 3%;
    }
    
    th {
      text-decoration: underline;
    }
    
    .name {
      font-size: 2vmin
    }
    
    .img {
      height: 2vmin;
      width: 2vmin;  
    }