/* CSS Custom Properties */
:root {
	--background: white;
	--card-color: #d9d9d9;
	--button: #24b5b7;
	--button-hover: #2a87c0;
	--header-text: black;
	--plain-text: black;
	--link: black;
  --link-visited: black;
	--border: black;
  
	--background-2: #292929;
	--card-color-2: #525252;
	--button-dark-2: #6175b8;
	--button-light-2: #5badae;
	--header-2: white;
	--text-color-2: white;
	--text-color-visited-2: white;
	--border-2: white;
  

	--error: red;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  color: var(--plain-text);
  border: .1vmin solid var(--border);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--background);
  border: .1vmin solid var(--border);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--error);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--plain-text);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--border);
  border-radius: .5vmin;
  color: var(--plain-text);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--border);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--plain-text);
  background-color: var(--button);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--border);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--button);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

button:hover {
	background-color: var(--button-hover);
}